<nav class="blue">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;&nbsp;&nbsp;Jamie Cerexhe</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://github.com/jcerexhe"><i class="fa fa-github"> Github</i></a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#bio">Bio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>